<div class="clearfix white bg-black">
  <div class="left">
    <a href="#!" class="btn py2 m0">Burgers</a>
    <a href="#!" class="btn button-narrow py2 m0">Fries</a>
  </div>
  <div class="right">
    <div id="account-menu" class="inline-block" data-disclosure>
      <div data-details class="fixed top-0 right-0 bottom-0 left-0"></div>
      <div class="relative">
        <a href="#!" class="btn py2 m0">My Account &#9662;</a>
        <div data-details class="absolute right-0 nowrap black bg-white rounded" style="min-width:128px">
          <ul class="h5 list-reset mb0">
            <li><a href="#!" class="btn block">Profile</a></li>
            <li><a href="#!" class="btn block">Settings</a></li>
            <li><a href="#!" class="btn block">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix sm-hide"></div>
  <div class="overflow-hidden px2">
  </div>
</div>
