<div class="clearfix mb2 white bg-blue">
  <div class="left">
    <a href="#!" class="btn py2 m0">Burgers</a>
    <a href="#!" class="btn button-narrow py2 m0">Fries</a>
  </div>
  <div class="right">
    <a href="#!" class="btn py2 m0">My Account</a>
  </div>
  <div class="clearfix sm-hide"></div>
</div>
