<div class="clearfix mb2 white bg-black">
  <div class="left pl4">
    <i class="fab fa-github"></i>
    <a href="#!" class="btn py2 m0">GrabCore</a>
    <a href="#!" class="btn button-narrow py2 m0">Fries</a>
  </div>
  <div class="right pr4">
    <a href="#!" class="btn button-narrow py2 m0">Logout</a>
  </div>
  <div class="clearfix sm-hide"></div>
</div>
