<div class="clearfix mb2 white navbar">
  <div class="navflex">
    <div class="left pl4">
      <i class="fab fa-github btn py2 m0"></i>
      <a href="#!" class="btn py2 m0">GrabCore</a>
    </div>
    <div class="right pr4 logout-button">
      <% if current_user %>
        <%= link_to "Logout", signout_path, class:"btn py2 m0" %>
      <% end %>
    </div>
  </div>
</div>
