<div class="mxn1">
  <%= link_to "Followers", user_followers_path(current_user), class:"btn button-narrow"%> /
  <%= link_to "Following", user_following_path(current_user),class:"btn button-narrow" %> /
  <%= link_to "Repos", user_repos_path(current_user), class:"btn button-narrow" %> /
    <%= link_to "Organizations", user_organizations_path(current_user), class:"btn button-narrow" %>
</div>
