
  <%= image_tag current_user.avatar_url, class:"profile-image"  %>
  <h2><%= current_user.username %></h2>
  <h3><%= current_user.nickname %></h4>

  <p>
    Starred repos:
    <% @github_presenter.starred.times do %>
      <i class="fas fa-star"></i>
    <% end %>
  </p>
