@import 'shared_values';

.fa-github {
  font-size: 30px;
}

.fa-star {
  color: #FFD700;
}

.fa-gem  {
  color:red;
}

.link-reset {
  color: white;
}

.dashboard-active {
  border-bottom: 3px solid #a50404;
}
